#usernfo{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 6px;
    font-size: 2vh;
    align-items: center;
}

#pfp{
    width: 64px;
    height: 64px;
    border-radius: 16px;
    background-color: rgb(255, 255, 255);
    object-fit: cover;
}

#accnfo{
    margin: 6px;
    font-size: 2vh;
}

#leaderboard{
    margin: 6px;
    font-size: 2vh;
}

#resetaccountbutton{
    background-color: red;
    color: white;
    border-radius: 45px;
    outline: none;
    border: none;
    font-size: 2vh;
    width: 100%;
}

.guide{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    font-size: 1.8vh;
    flex-direction: column;
    padding: 15px;
    color: rgb(204, 204, 204);
    gap: 5px;
    text-align: center;
}

.titleofguide{
    font-size: 3vh;
    font-weight: 600;
    color: white;
}